<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <div>
        <h2>업비트 매수거래소 바이낸스 매도 거래소 경우</h2>

        <div>

{% for key, value in each_coin_analytics_dict.items %}
                <div>코인</div>
                <div>{{key}}</div>
                <div>값</div>
                <div>{{value}}</div>
{% endfor %}
        </div>

        <div>
            <div>{{value}}</div>
        </div>
<!--            <div>{{ data.up_expected_revenue_rate}}</div>-->
<!--        <div>-->
<!--            <div>바이낸스가 매수거래소 일 경우</div>-->
<!--            <div>{{ data.binance_price_trend}}</div>-->
<!--            <div>{{ data.binance_degree_of_discrepancy}}</div>-->
<!--            <div>{{ data.binance_expected_revenue_rate}}</div>-->
<!--        </div>-->


    </div>
</head>
<body>

</body>
</html>
