<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
        }
        th {
          text-align: left;
        }

    </style>
    <title>one day one million</title>
    <h2>업비트 매수거래소 바이낸스 매도 거래소 경우</h2>

</head>
<body>
<table>
    <tr>
        <th>코인</th>
        <th>업비트 입금 상태</th>
        <th>업비트 출금 상태</th>
        <th>바이낸스 입금 상태</th>
        <th>바이낸스 출금 상태</th>

        <th>업비트 종가</th>
        <th>바이낸스 종가></th>

        <th>업비트 기대 수익률</th>
        <th>업비트 괴리율 정도</th>
        <th>바이낸스 매도 1시간 회귀계수</th>
        <th>업비트 거래대금</th>
        <th>업비트 매수 1시간 회귀 계수</th>
        <th>바이낸스 매도 6시간 회귀 계수</th>
        <th>업비트 타임스탬프</th>
        <th>바이낸스 타임스탬프</th>


    </tr>

    <tr>

        <td>{{coin}}</td>

        <td>{{up_deposit_status}}</td>
        <td>{{up_withdraw_enable}}</td>
        <td>{{binance_deposit_status}}</td>
        <td>{{binance_withdraw_enable}}</td>

        <td>{{up_close_price}}</td>
        <td>{{binance_close_price}}</td>


        <td>{{up_expected_revenue_rate}}</td>
        <td>{{up_degree_of_discrepancy}}</td>
        <td>{{binance_coef}}</td>
        <td>{{transaction_price}}</td>
        <td>{{up_coef}}</td>
        <td>{{binance_coef6}}</td>

        <td>{{up_date}}</td>
        <td>{{binance_date}}</td>
    </tr>


</table>
</body>
</html>
