<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
        }
        th {
          text-align: left;
        }

    </style>
    <title>one day one million</title>
    <h2>{{from}} 매수거래소 {{to}} 매도 거래소 경우</h2>

</head>
<body>
<table>
    <tr>
        <th>코인</th>
        <th>{{from}} 입금 상태</th>
        <th>{{from}} 출금 상태</th>
        <th>{{to}} 입금 상태</th>
        <th>{{to}} 출금 상태</th>
        <th>{{from}} 종가</th>
        <th>{{to}} 종가</th>
        <th>{{from}} 기대 수익률</th>
        <th>{{from}} 괴리율 정도</th>
        <th>{{to}} 매도 1시간 회귀계수</th>

        <th>{{from}} 거래대금</th>
        <th>{{from}} 매수 1시간 회귀 계수</th>
        <th>{{to}} 매도 6시간 회귀 계수</th>

        <th>{{from}} 타임스탬프</th>
        <th>{{to}} 타임스탬프</th>
        <th>스케일 다운 {{from}} 기대수익률 </th>
        <th>스케일 다운 {{from}} 괴리율 </th>
        <th>스케일 다운 {{from}} 1시간 회귀 계수 </th>
        <th>스케일 다운 거래대금</th>
        <th>스케일 다운 {{to}} 1시간 회귀 계수</th>
        <th>스케일 다운 {{to}} 6시간 회귀 계수</th>
        <th>총 점수</th>
    </tr>
    {% for coin, value in data %}
    <tr>
        <td>{{coin}}</td>
        <td>{{value.3}}</td>
        <td>{{value.4}}</td>
        <td>{{value.8}}</td>
        <td>{{value.9}}</td>

        <td>{{value.6}}</td>
        <td>{{value.10}}</td>

        <td>{{value.5}}</td>
        <td>{{value.12}}</td>

        <td>{{value.0}}</td>
<!--        거래대금-->
        <td>{{value.13}}</td>
<!--        매수거래소 1시간 회귀 계수-->
        <td>{{value.2}}</td>
<!--        매도 6시간 회귀 계수-->
        <td>{{value.1}}</td>
<!--        타임스탬프-->
        <td>{{value.7}}</td>
        <td>{{value.11}}</td>

        <td>{{value.14}}</td>
        <td>{{value.15}}</td>
        <td>{{value.16}}</td>
        <td>{{value.17}}</td>

        <td>{{value.18}}</td>
        <td>{{value.19}}</td>
        <td>{{value.20}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
